<h1>Your Posts</h1>

<h6><%= link_to "Create a New Post", new_blog_path %></h6>
<table>
 <thead>
   <tr>
       <th>Name</th>
       <th>Tagline</th>
       <th>Country</th>
       <th>Edit</th>
       <th>Delete</th>
   </tr>
 </thead>

 <tbody>
   <% @blogs.each do |blog| %>
  <tr>
    <td><%=  blog.title %></td>
    <td><%=  blog.tagline %></td>
    <td><%=  blog.country %></td>
    <td><%=  link_to "Edit", edit_blog_path(blog), class: "waves-effect waves-light btn modal-trigger blue lighten-2" %></td>
    <td>
      <a class="waves-effect waves-light btn red darken-1 delete-post">Delete</a>
      <div class="confirm-delete" id="confirm-delete">
        <%= button_to "Click to Confirm",
        {:controller => :blogs,:action => 'destroy', :id => blog.id },
        :method => :delete, :class => "btn waves-effect waves-green btn-flat" %>
      </div>
    </td>
  </tr>
   <% end %>
</tbody>
</table>


<% @blogs.each do |blog| %>
<div id="modal-<%= blog.title%>" class="modal">
   <div class="modal-content">
     <h4>Are you sure you want to delete "<%=blog.title%>"?</h4>
     <p>This action cannot be undone.</p>
   </div>
   <div class="modal-footer">

     <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">DELETE</a> -->
   </div>
 </div>
 <% end %>
